@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


*{
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
   

}
body {
    
    font-family: "Poppins", sans-serif;
    
      height: 100%;
      background-color: rgb(255, 255, 255);
      
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }  
  

  .banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.desc {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.descr {
    margin-right: 20px;
}

.descr h3 {
    color: #2185d0;
    margin: 0;
    font-size: 40px;
    font-weight: 800;
}

.paras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 50px;
}

.paras div {
    margin-bottom: 20px;
}

.paras p {
    margin: 0;
    text-align: justify;
} 
   
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('image/0312ZQ_1053CR-1440x959.jpg');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px); /* Adjust the blur value as needed */
    z-index: -1; /* Place the blurred background behind other content */
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; /* Set the text color to white */
}
.text {
    position: absolute;
    color: white;
    margin-bottom: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
   margin-top: 250px;
    text-align: center;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}

.banner2 {
    margin-top: 50px;
    position: relative;
    height: 600px; /* Adjust the height as needed */
    background-image: url('image/0311ZQ_0529CR-1440x960.jpg'); /* Replace with your image URL */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading h3 {
    font-size: 50px;
    margin: 0;
}

.par {
    margin-top: 20px;
    text-align: center;
    width: 50%;
}

footer{
    margin-top: 100px;
}