
#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('image/disneyland-dlr-dca-parks-vignette-shift-16x6.jpg'); 
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(10, 10, 10, 0.8);
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 span{
	color: black;
}
.booking-cta h1 {
	line-height: 6rem;
	font-size: 5vh;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	margin-top: 210px;
}

.booking-cta p {
	font-size: 22px;
	color: #fff;
}

.booking-form {
	background: rgba(0, 0, 0, 0.63);
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
	max-width: 642px;
	width: 100%;
	margin-top: 150px;
	padding: 40px 30px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: transparent;
	height: 55px;
	padding: 0px;
	padding-top: 15px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid rgba(211, 207, 207, 0.356);
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-control::placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-group:not(.input-not-empty) .form-control:not(:focus) {
	color: transparent;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-control option{
	background-color: #000;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 7px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #2c2b2b;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color:#2c2b2b;
	font-weight: 700;
	position: absolute;
	top: 20px;
	left: 0px;
	text-transform: uppercase;
	line-height: 24px;
	height: 23px;
	font-size: 16px;
	pointer-events: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group .form-control:focus+.form-label {
	top: 0px;
	color: #ffffff;
	font-size: 14px;
}

.booking-form .form-group.input-not-empty .form-label {
	top: 0px;
	color: #ffffff;
	font-size: 14px;
}

.booking-form .submit-btn {
	color: #2c2b2b;
	background-color: #ffffff;
	font-weight: 700;
	height: 55px;
	padding: 10px 35px;
	font-size: 18px;
	border: none;
	display: block;
	width: 100%;
	text-transform: capitalize;
}




 
  
.memories {
	background-color: #f1f5f9; 
	height: 600px;
  }
  
  .memories__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
  }
  
  .memories__header .section__header {
	max-width: 600px;
  }
  
  .memories__header .view__all {
	padding: 1rem 2rem;
	font-size: 1rem;
	font-weight: 500;
	color: #0f172a; /* Replaced with the specific text color */
	background: transparent;
	white-space: nowrap;
	outline: none;
	border: 1px solid #64748b; /* Replaced with the specific border color */
	border-radius: 2rem;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
	cursor: pointer;
  }
  
  .memories__grid {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem;
  }
  
  .memories__card {
	height: 400px;
	padding: 3rem 2rem;
	text-align: center;
	border-radius: 5rem;
	background-color: #ffffff; /* Replaced with the specific background color */
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);
  }
  
  .memories__card span {
	height: 100px;
	display: inline-block;
	padding: 20px 32px;
	margin-bottom: 2rem;
	font-size: 3rem;
	color: #ffffff; 
	background-color: #3d5cb8; 
	border-radius: 100%;
  }
  
  .memories__card:nth-child(2) span {
	background-color: #e98b6d;
  }
  
  .memories__card:nth-child(3) span {
	background-color: #ffcca3;
  }
  
  .memories__card h4 {
	margin-bottom: 1rem;
	font-size: 3rem;
	font-weight: 600;
	color: #0f172a; 
  }
  
  .memories__card p {
	margin-top: 40px;
	color: #64748b; 
	line-height: 3rem;
	font-size: 2rem;
	
  }
  
  
  
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: 1200px; 
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 4rem;
  font-weight: 600;
  line-height: 3rem;
  color: #0f172a; 
}
  
 