*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #34495e;
}



main{
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.container{
    background: white;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
form{
    padding: 10px;
}
h3{
    margin-top: 1rem;
    color: #2c3e50;
}
form input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    outline: none;
}
#zip{
    display: flex;
    margin-top: 5px;
}
#zip select{
    padding: 5px 10px;
}
#zip input[type="number"]{
    padding: 5px 10px;
    margin-left: 5px;
}
img{
    width: 100%;
}
.year{
    width: 90%;}
    form a{
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        background: #34495e;
        color: white;
        border: none;
        margin-top: 10px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
   }
/* main{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}
.container{
    background: white;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
form{
    padding: 10px;
}
h3{
    margin-top: 1rem;
    color: #2c3e50;
}
form input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    outline: none;
}
#zip{
    display: flex;
    margin-top: 5px;
}
#zip select{
    padding: 5px 10px;
}
#zip input[type="number"]{
    padding: 5px 10px;
    margin-left: 5px;
}
img{
    width: 100%;
}
.year{
    width: 90%;
} */
/* a{
     display: inline-block;
     width: 100%;
     padding: 10px 15px;
     background: #34495e;
     color: white;
     border: none;
     margin-top: 10px;
     cursor: pointer;
     text-decoration: none;
     text-align: center;
} */
